/*TODO: Rework styles. So it isn't looking like newborn mouse*/
/*TODO: Je potřeba dodělat pro mobilní zařízení rozvržení*/

* {
  color: rgba(194, 165, 0.5);
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(17, 17, 83);
  height: calc(100dvh - 20px);
  border: solid 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: lab(0% 0 0 / 0.3);
  width: fit-content;
  font-weight: bolder;
  font-size: 3dvh;
  padding: 0.75dvh;
  border: solid 0.5dvh rgb(194, 165, 0);
  border-radius: 100dvh;
}

p {
  font-size: 2dvh;
  font-weight: 600;
}

.responsive-h1 {
  font-size: 10dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15dvh;
  -webkit-text-stroke: 0.5dvh rgb(139, 120, 0);
}

.buttons {
  display: flex;
  flex-direction: row;
}
