* {
  background-color: rgb(17, 17, 83);
  color: rgb(194, 165, 0);
  padding: 0;
  margin: 0;
}

body {
  height: calc(100dvh - 20px);
  border: solid 10px;
}

#all {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#all #buttons {
  flex-direction: row;
}
